src/__pycache__
src/__pycache__/**

src/typechecking/__pycache__/
src/typechecking/__pycache__/**

src/atyping/__pycache__/
src/atyping__pycache__/**

src/aobjects/__pycache__/
src/aobjects/__pycache__/**

src/aobjects/base/__pycache__/
src/aobjects/base/__pycache__/**

src/abuiltins/__pycache__/
src/abuiltins/__pycache__/**

bin
bin/**
atom-env
atom-env/**
build
dist
atom.spec
main.spec
